<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.nebula" android:versionCode="1" android:versionName="1.0">
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name=".main.NebulaApplication" android:debuggable="true">
		<activity android:name=".activities.Main" android:label="@string/app_name" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".activities.Login" android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.ContactsTab" android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.Register" android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.AddGroup" android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.AddContact" android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.Delete" android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.Edit" android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.ConversationTab" android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.Volume" android:screenOrientation="portrait"></activity>
		
		<service android:enabled="true" android:name=".client.rtp.RTPSender" />

	</application>

</manifest> 
